.fsb-bar {
  margin-top: 15px;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
}

.fsb-button--wrapper {
  text-align: center;
}

.fsb-warning {
  background: #e53935;
  color: #fff;
}

.fsb-success {
  background: #2e7d32;
  color: #fff;
}

.fsb-button {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 12px;
  background: #1e3a8a;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

#fsb-bar .amount {
  color: #fff!important;
}

button[name="update_cart"],
.woocommerce-cart-form button[name="update_cart"] {
    display: none !important;
}
